@charset "UTF-8";
@import "variable";
@import "function";
@import (reference) "common";

//头部
.header {
  .layer-box;
  .p-abs;
  .fn-pos-tl(0, 0);
  .border-bto(1px solid @g-e4e4);
  height: 44px;
  padding: 0 60px;
  .left {
    .p-abs;
    .fn-pos-tl(0, 0);
    .d-block;
    width: 60px;
    height: 100%;
    a {
      .p-rel;
      .d-block;
      width: 100%;
      height: 100%;
      i {
        .p-abs;
        .fn-pos-tl(50%, 20px);
      }
      em {
        .p-abs;
        .fn-pos-tl(10px, 30px);
      }
    }
  }
  .mid {
    .p-rel;
    .layer-box-height;
    label.logo {
      .p-abs;
      .fn-pos-tl(50%, 50%);
      .d-block;
      width: 73px;
      height: 30px;
      margin: -15px 0 0 -37px;
      img {
        .layer-box-height;
      }
    }
  }
  .right {
    &:extend(.header .left all);
    left: auto;
    right: 0;
    a {
      i {
        left: auto;
        right: 20px;
      }
    }
  }
}

//banner
.banner {
  .layer-box;
  .swiper-container {
    .layer-box;
    img {
      .layer-box;
    }
    .swiper-pagination {
      bottom: 3px;
      .swiper-pagination-bullet {
        background: @white;
        opacity: 0.5;
        &-active {
          opacity: 1;
        }
      }
    }
  }
}

//菜单
.nav {
  .layer-box;
  background: @white;
  padding: 20px 0 15px;
  .fb-box-list {
    li {
      a {
        .layer-box;
        text-align: center;
        font-size: @fs-14;
        color: @g-333;
        em {
          display: block;
          width: 40px;
          height: 60px;
          line-height: 60px;
          margin: 0 auto 5px;
          text-align: center;
          i.icon-hot {
            .p-abs;
            .fn-pos-tr(-5px, -10px);
          }
          i.sign-tag {
            &.active {
              &:after {
                visibility: visible;
                opacity: 0;
                top: -20px;
              }
            }
            &:after {
              .set-layout("inline-block", 20px, 20px, "absolute");
              top: 10px;
              right: 0;
              line-height: 20px;
              visibility: hidden;
              content: "+1";
              position: absolute;
              color: #00eafb;
              opacity: 1;
              font-size: @fs-15;
              .fn-transtion(all 0.5s);
            }
          }
          img {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .lottery-img {
    .set-layout("block", 91.25%, auto);
    margin: 15px auto 0;
  }
}

//产品列表
.product {
  .fb-list {
    .item {
      .fn-box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
      > a {
        .layer-box;
        padding-left: 110px;
        .icon-sale {
          .p-abs;
          .fn-pos-tl(-11px, -11px);
        }
        .pro-img {
          .set-layout("block", 100px, 100px, "absolute");
          .fn-pos-tl(0, 0);
          img {
            .layer-box-height;
          }
        }
        .pro-intro {
          .layer-box;
          .pro-name {
            .p-rel;
            top: -4px;
            line-height: 20px;
          }
          .pro-time {
            .d-block;
            margin-bottom: 4px;
          }
          .pro-money {
            span {
              .d-block;
              width: 50%;
              em {
                .d-block
              }
            }
          }
        }
      }
      .progress-bar {
        margin-top: 10px;
        .progress-intro {
          .d-block;
          margin-top: 5px;
        }
      }
    }
  }
}

//底部
.footer {
  .p-abs;
  .fn-pos-bl(0, 0);
  display: block;
  width: 100%;
  height: 52px;
  background: @white;
  .fn-box-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  .fb-box-list {
    li {
      text-align: center;
      a {
        display: block;
        position: relative;
        padding-top: 32px;
        color: @g-333;
        font-size: @fs-12;
        &.active {
          i:nth-child(1) {
            &:extend(.ft-icon1.active);
          }
          i:nth-child(2) {
            &:extend(.ft-icon2.active);
          }
          i:nth-child(13) {
            &:extend(.ft-icon3.active);
          }
          i:nth-child(4) {
            &:extend(.ft-icon4.active);
          }
        }
        i {
          .set-layout("block", 26px, 26px, "absolute");
          .fn-pos-tl(38%, 50%);
          margin: -13px 0 0 -13px;
        }
      }
    }
  }
}

//标记
.tag {
  .set-layout("block", 6px, 6px);
  .fb-radius-50;
  &.red {
    background: @red-ff3d3d;
  }
  &.white {
    background: @white;
  }
  &.gray {
    background: #f4f4f4;
  }
  &.big {
    width: 16px;
    height: 16px;
  }
  &.line {
    .border-radius(0);
    .set-layout("block", 100%, 15px);
    &.gray {
      background: @g-f5f5;
    }
  }
}

//优惠券弹窗
.j-confirm-box {
  .coupon-box {
    background: #f4f4f4;
    .coupon-title {
      margin: 0;
      .text-middle(44px);
      color: @red-ff3d3d;
      font-size: @fs-15;
      background: @white;
      .border-radius(5px 5px 0 0);
    }
    .coupon-tips {
      padding: 0 20px 20px;
    }
    .coupon-btn {
      &:extend(.fb-btn all);
      border: 0 none;
      .text-middle(44px);
      width: 72%;
      margin: 0 auto 20px;
      font-size: @fs-18;
      .border-radius(22px);
    }
  }
}

//优惠券
.coupon-bar {
  .layer-box;
  .item {
    .layer-box;
    margin-top: 10px;
    .border-radius(5px);
    & > .tag {
      .p-abs;
      top: 50%;
      margin-top: -8px;
      &:nth-child(1) {
        left: -8px;
      }
      &:nth-child(2) {
        right: -8px;
      }
    }
    & > .fl {
      width: 32%;
      font-size: 3.0rem;
      color: @white;
      font-weight: bold;
      padding: 10px 0;
      .border-right(1px dashed @white);
      span, em {
        .layer-box;
        padding-left: 15px;
        text-align: left;
      }
      span {
        top: 2px;
      }
      em {
        top: -7px;
        font-size: @fs-18;
      }
    }
    & > .fr {
      width: 68%;
      padding: 12px 14px 4px 10px;
      label {
        position: relative;
        display: block;
        font-size: @fs-12;
        color: @white;
        text-align: left;
        line-height: 16px;
        height: 32px;
        margin-bottom: 10px;
        &:extend(.tm-clamp all);
        &.small {
          &:nth-child(1) {
            top: 5px;
          }
          &:nth-child(2) {
            top: -5px;
          }
        }
      }
    }
    &.blue {
      background: radial-gradient(left center, circle cover, rgb(28, 227, 219), rgb(50, 199, 227) 30%, rgb(92, 130, 236) 100%);
      background: -webkit-radial-gradient(left center, circle cover, rgb(28, 227, 219), rgb(50, 199, 227) 30%, rgb(92, 130, 236) 100%);
    }
    &.red {
      background: radial-gradient(left center, circle cover, rgb(255, 135, 128), rgb(248, 111, 112) 30%, rgb(232, 78, 95) 100%);
      background: -webkit-radial-gradient(left center, circle cover, rgb(255, 135, 128), rgb(248, 111, 112) 30%, rgb(232, 78, 95) 100%);
    }
  }
}

//图标集合
.icon-warn {
  width: 22px;
  height: 22px;
  background-position: 0 -27px;
  margin: -11px 0 0 -11px;
}

.icon-help {
  width: 24px;
  height: 24px;
  background-position: 0 0;
  margin: -12px 0 0 -12px;
}

.ft-icon1 {
  width: 23px;
  height: 24px;
  background-position: -67px 0;
  &.active {
    background-position: -100px 0;
  }
}

.ft-icon2 {
  width: 24px;
  height: 24px;
  background-position: -67px -31px;
  &.active {
    background-position: -100px -31px;
  }
}

.ft-icon3 {
  width: 23px;
  height: 24px;
  background-position: -67px -62px;
  &.active {
    background-position: -100px -62px;
  }
}

.ft-icon4 {
  width: 24px;
  height: 24px;
  background-position: -67px -93px;
  &.active {
    background-position: -100px -93px;
  }
}

.icon-sale {
  width: 52px;
  height: 52px;
  &.going {
    background-position: -248px 0;
  }
  &.start {
    background-position: -248px -57px;
  }
  &.end {
    background-position: -248px -113px;
  }
}

.icon-hot {
  width: 30px;
  height: 18px;
  background-position: -31px 0;
}